*.exe
*.o
code/
seminars/seminar2/vector/vector.layout
*.depend
*.layout
*.layout
seminars/vector_tests/tests/.vs/tests/v16/.suo
seminars/vector_tests/tests/.vs/tests/v16/Browse.VC.db
*.db-shm
*.opendb
*.ipch
seminars/vector_tests/tests/Debug/tests.pdb
*.db-wal
seminars/vector_tests/tests/tests/Debug/tests.ilk
seminars/seminar2/vector/vector.layout
seminars/vector_tests/tests/tests/Debug/tests.exe.recipe
seminars/vector_tests/tests/tests/Debug/tests.log
seminars/vector_tests/tests/tests/Debug/tests.tlog/CL.command.1.tlog
seminars/vector_tests/tests/tests/Debug/tests.tlog/link.command.1.tlog
seminars/vector_tests/tests/tests/Debug/tests.tlog/link.read.1.tlog
seminars/vector_tests/tests/tests/Debug/tests.tlog/link.write.1.tlog
seminars/vector_tests/tests/tests/Debug/tests.tlog/tests.lastbuildstate
seminars/vector_tests/tests/tests/Debug/vc142.idb
seminars/vector_tests/tests/tests/Debug/vc142.pdb
seminars/vector_tests/tests/tests/tests.vcxproj
seminars/vector_tests/tests/tests/tests.vcxproj.filters
seminars/seminar2/vector/vector.layout
seminars/vector_tests/tests/tests/tests.vcxproj.user
seminars/seminar2/vector/vector.layout
seminars/seminar2/vector/vector.layout
*.layout
Homeworks/HW3/hw3_1/attwn.txt
Homeworks/HW3/hw3_1/cmake-build-debug/big_file.txt
Homeworks/HW3/hw3_1/c.txt
Homeworks/HW3/hw3_1/f1.txt
Homeworks/HW3/hw3_1/f1_1.txt
Homeworks/HW3/hw3_1/f1_2.txt
Homeworks/HW3/hw3_1/f2.txt
Homeworks/HW3/hw3_1/f2_2.txt
Homeworks/HW3/hw3_1/f2_1.txt
Homeworks/HW3/hw3_1/flp.txt
Homeworks/HW3/hw3_1/u1.txt
Homeworks/HW3/hw3_1/u2.txt
Homeworks/HW3/hw3_1/cmake-build-debug/c.txt
Homeworks/HW3/hw3_1/cmake-build-debug/f1_1.txt
Homeworks/HW3/hw3_1/cmake-build-debug/f1_2.txt
Homeworks/HW3/hw3_1/cmake-build-debug/u1.txt
Homeworks/HW3/hw3_1/cmake-build-debug/u2.txt
Homeworks/HW3/hw3_1/f1s.txt
Homeworks/HW3/hw3_1/f2s.txt
